<div class="container">
    <table>
        <tr>
            <th></th>
            <th>Item</th>
            <th>Price</th>
            
            <th>Quantity</th>
            <th>+</th>
            <th>-</th>
            <th>Remove</th>
        </tr>
        <tr *ngFor="let item of cart; let i= index">
            <td><img src="{{item.thumbnail}}" width="75px" height="75px"></td>
            <td>{{item.title}}</td>
            <td>${{item.price}}.00</td>
            <td>{{item.qty}}</td>
            <td><a (click)="increment(item, i)"><img src="https://cdn-icons-png.flaticon.com/512/1237/1237946.png"
                        width="25px" height="25px"></a></td>
            <td><a (click)="decrement(item, i)"><img src="https://cdn-icons-png.flaticon.com/512/56/56889.png" width="25px"
                        height="25px"></a></td>
            <td><a (click)="remove(item, i)"><img src="https://cdn-icons-png.flaticon.com/512/63/63694.png" width="20px"
                        height="20px"></a></td>
        </tr>
        <tr>Total: ${{totalPrice}}.00</tr>
    </table>