<div>
    <h2>Products:</h2>
    <!-- <table>
        <tr>
            <th>PID</th>
            <th>Name</th>
            <th>Desription</th>
             <th>Price</th> 
            <th><input type="button" value="Price" (click)="sortByPrice()"></th> 
            <th>Discount</th>
            <th>Rating</th>
            <th>Stock</th>
            <th>Brand</th>
            <th>Catgory</th>
            <th>Thumnail</th>
            <th>PID</th>
        </tr>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.discountPercentage}}</td>
            <td>{{product.rating}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.category}}</td>
            <td><img src="{{product.thumbnail}}" width="130px" height="100px"></td>
            <td><input type="button" value="Delete Product" (click)="deleteProduct(product.id)"></td>
        </tr>
    </table> -->
    <div class="container">
        <div class="row">
            <div *ngFor="let product of products" class="col-2 myDivClass">
                <img src="{{product.thumbnail}}" width="120px" height="100px">
                <div>
                    <span>{{product.title}}</span>
                    <span>: ${{product.price}}</span>
                    <br />
                    <!-- <input type="button" value="Add to Cart" (click)="addToCart(product)">
                    <input type="button" value="Add to Wishlist" (click)="addToWishlist(product)"> -->
                    <a (click)="addToCart(product)">
                        <img src="https://cdn-icons-png.flaticon.com/512/649/649931.png" height="50px" width="50px">
                    </a>
                    <a (click)=" addToWishlist(product)">
                        <img src="https://cdn-icons-png.flaticon.com/512/3132/3132924.png" height="50px" width="50px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>